<table class="table text-white">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Loại</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <form action="/admin/watch/search">
            <div class="form-group">
                <label for="exampleInputEmail1">Tìm Kiếm </label>
                <input type="" class="form-control" id="exampleInputEmail1" placeholder="Nhập từ khóa tìm kiếm"
                    name="keyword">
            </div>
            <button type="submit" class="btn btn-primary">Tìm Kiếm </button>
        </form>
        {{#each watches}}

        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td>
                <img src="{{this.img}}" alt="" srcset="" width="70">
            </td>
            <td>{{this.type}}</td>
            <td class="d-flex" style="height: 65px;">

                <a class="btn btn-link text-white" href="/watch/edit/{{this._id}}">Sửa</a>
                <form method="post" action="/watch/{{this._id}}?_method=DELETE" id="formDelete">
                    <button type="submit" class="btn btn-link text-white" data-toggle="modal"
                        data-target="#exampleModal">Xóa</button>

                </form>
            </td>
        </tr>
        {{/each }}
    </tbody>
</table>
<a class="btn btn-info btn-lg" style="font-weight: bold;" href="/watch/add">Thêm sản phẩm mới</a>